<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs"/>
  
  <targets>
    <target name="file1" xsi:type="File" fileName="${logDirectory}/log-${shortdate}.xml">
      <layout xsi:type="Log4JXmlEventLayout">
      </layout>
    </target>
  </targets>
  
  <rules>
    <logger minlevel="Trace" writeTo="file1" />
  </rules>
</nlog>